.hey {

  width: 100%;
  height: 30%;

}

.header {

  height: 70px;
  width: 100%;
  background-color: #F1EFE7;
  color: rgb(101, 92, 92);
  padding: 0.5%;
  position: sticky;
  top: 85px;
  z-index: 1;


}

.header>ul {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-top: 1%;
  font-weight: bold;
  font-size: 1em;


  @media (max-width: 500px) {

    font-size: 0.8em;
    height: 50px;

  }

}

.header li:hover {

  border-bottom: 4px solid rgb(64, 200, 221);
  cursor: pointer;

}

.Card--card{
  width: 500px;
  font-size: 10px;
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.642);
  border-radius: 10px;
  padding: 30px;
  padding-top: 10px;
  transition: transform 0.3s ease;

  @media(min-width: 700px){

    
  }
  
  
} 

.card--images{
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}


.t-dOnDMp {

  margin: 5% auto 0 auto;
  padding: 1% 4%;
  width: 70%;
  border: 4px solid rgb(64, 200, 221);
  border-radius: 40px;

  @media (min-width: 760px) {
    width: 50%;

  }

  @media (min-width: 1440px) {

    width: 30%;

  }

  .supabase-auth-ui_ui-button {

    background-color: rgb(123, 114, 114);
    width: 100%;
    margin: auto;
    border: solid rgb(64, 200, 221);
    border-radius: 100px;

    @media (min-width: 760px) {
      display: flex;
      flex-direction: row;
      width: 70%;

    }
  }

  .c-jTXIoq-bXHFxK-gap-large {

    width: 100%;

  }

}

.Logo--gif {
  width: 100px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10%;
  transition: transform 0.3s ease;
}